@model ASP_Web_test.Models.file

@{
    ViewData["Title"] = "OpenFromFile";
}

<h2>OpenFromFile</h2>
<h3>This functionality does unforunately not work yet.</h3>
<h4>file</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="OpenFromFile">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="fileName" class="control-label"></label>
                <input asp-for="fileName" class="form-control" />
                <span asp-validation-for="fileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
