@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This web application let's you keep track of all those groceries that you have to buy. Ain't that just dandy?
    It is somewhat inspired by the ASP.net MVC template project from Visual Studio.</p>
