@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Mathias Lønborg Friis<br />
    Børglumvej 2C, 2. 340, 8240 Risskov<br />
    <abbr title="Phone">P:</abbr>
    Don't call me, m8
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">BestSupportEUW@fakemail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">nahbruh@fakemail.com</a>
</address>
